@import "tailwindcss";

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadein 1s ease-in forwards;
}

.font-lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
