@import "tailwindcss";

.font-lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
